%html
  .belt
    .belt-cell.first
      = link_to root_path do
        .logo
    .belt-cell.second
      .container
        #custom-search-input
          .input-group.col-md-12
            %input.form-control.input-lg{:placeholder => "Search Maypole Web", :type => "text"}/
            %span.input-group-btn
              %button.btn.btn-info.btn-lg{:type => "button"}
                %i.glyphicon.glyphicon-search
    .belt-cell.third
      .top-right-image
  .belt2
    .belt-cell.second
      .main-menu-container
        %ui
          %li Contact Us
          %li Videos
          %li Websites
          %li About Us
          %li T &amp; C
          %li Reviews
    .belt-cell.third
      .belt2-image
